{% extends "manageProfile/base.html" %}

{% block content %}
{% load static %}


<style>

    .form-control{
        border:solid 2px;
    }


</style>

<hr/>
{% if messages %}
{% for message in messages %}
  <div>
    <center>
        <div style="padding:1rem; background-color:green;color:white">
          <p>
              <h3><b>{{ message }}</b></h3>
          </p>
        </div>
      </center>
    </div>

{% endfor %}
{% endif %}
<center>
    <div >
  
        <div>
            <div class="card-body p-4 p-md-5" style="border:solid 1px">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Add next of kin information form</h3>
                <hr/>
                <form method="post" action"personal">
                    {% csrf_token %}
                    <!--ethnicity-->
                  

                    <div class="row">
                        <div class="col-md-6 mb-4">
        
                            <div class="form-outline">
                              
                                <input type="text" name="FirstName" placeholder="First name"  class="form-control form-control-lg">
                                <label class="form-label" for="FirstName">First name</label>
                         
                            </div>
        
                        </div>
      
                       
                       
                        <div class="col-md-6 mb-4">
        
                          <div class="form-outline" style="display:flex;flex-direction: column">
                            
                            <input type="text" name="Surname" placeholder="Surname"  class="form-control form-control-lg">
                            <label class="form-label" for="Middlename">Surname</label>
                         
                        </div>
        
                        </div>
                    </div>
    
    
    
                    
                    <div class="row">
                        <div class="col-md-6 mb-4">
        
                            <div class="form-outline">
                                
                                <input type="text" name="Title" placeholder="Title"  class="form-control form-control-lg">
                                <label class="form-label" for="lastname">Title</label>
                         
                            </div>
        
                        </div>
      
                       
                       
                        <div class="col-md-6 mb-4">
        
                          <div class="form-outline" style="display:flex;flex-direction: column">
                          
                            <select required name="Gender" class="form-control form-control-lg" style="display:flex;justify-centent:center">
                                  
                                <option style="width:100%" value="Male"><b>Male</b></option>
                                <option value="Female"><b>Female</b></option>
                                <option value="Other"><b>Other</b></option>
                            </select>
                           
                            <label class="form-label" for="gender">Gender</label>
                         
                        </div>
        
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4">
        
                            <div class="form-outline">
                              
                                <input type="email" name="EmailAddress" class="form-control form-control-lg">
                                <label class="form-label" for="EmailAddress">Email address</label>
                         
                            </div>
        
                        </div>
      
                       
                       
                        <div class="col-md-6 mb-4">
        
                          <div class="form-outline" style="display:flex;flex-direction: column">
                            
                            <input type="text" name="PhoneNumber" placeholder="Phone number"  class="form-control form-control-lg">
                            <label class="form-label" for="PhoneNumber">Phone number</label>
                         
                        </div>
        
                        </div>
                    </div>
    

                    <div class="row">
                        <div class="col-md-6 mb-4">
        
                            <div class="form-outline">
                              
                                <input type="text" name="HomeAddress" placeholder="Home address" class="form-control form-control-lg">
                                <label class="form-label" for="HomeAddress">Home address</label>
                         
                            </div>
        
                        </div>
                        
                       
                       
                        <div class="col-md-6 mb-4">
        
                          <div class="form-outline" style="display:flex;flex-direction: column">
                            
                            <input type="text" name="WorkAddress" placeholder="Work address"  class="form-control form-control-lg">
                            <label class="form-label" for="WorkAddress">Work address</label>
                        
                        </div>
        
                        </div>
                    </div>
                    

                    

                    <div class="row">
                        <div class="col-md-6 mb-4">
        
                            <div class="form-outline">
                              
                                <input type="text" name="Relationship" placeholder="Relationship" class="form-control form-control-lg"/>
                               
                                <label class="form-label" for="Relationship">Relationship</label>
                         
                            </div>
        
                        </div>
                        
                       <!--Jobtitle-->
                       
                        <div class="col-md-6 mb-4">
        
                            <div class="form-outline" style="display:flex;flex-direction: column">
                                <input type="text" name="Jobtitle" placeholder="Job title" class="form-control form-control-lg"/>
                               
                               
                                <label class="form-label" for="Jobtitle">Job title</label>
                            
                            </div>
            
                        </div>
                    </div>


                    
                    <input type="text" name="JobDescription" placeholder="Job description" class="form-control form-control-lg"/>
                               
                               
                    <label class="form-label" for="JobDescription">Job description</label>






                    <input class="btn btn-default btn-primary" style="width:100%" type="submit" value="Save and continue"/>
                </form>
            
            </div>
            
        </div>
    </div>
</center>


{% endblock %}
