{% extends "manageProfile/base.html" %}

{% block content %}
{% load static %}


<style>

    .form-control{
        border:solid 2px;
    }
    .table{
        width:100%;
        border:solid 2px;
    }

</style>
<hr/>
{% if messages %}
{% for message in messages %}
  <div>
    <center>
        <div style="padding:1rem; background-color:green;color:white">
          <p>
              <h3><b>{{ message }}</b></h3>
          </p>
        </div>
      </center>
    </div>

{% endfor %}
{% endif %}
<center>
    <div >
  
        <div>
            <div class="card-body p-4 p-md-5" style="border:solid 1px">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Update education information</h3>
                <form method="post" action"updateEducation">
                    {% csrf_token %}
                    <!--education-->
                  



                    <div class="row">
                        <div class="col-md-6 mb-4">
        
                            <div class="form-outline">
                              
                                <input type="text" name="InstitutionName" placeholder="{{education.InstitutionName}}"  class="form-control form-control-lg">
                                <label class="form-label" for="InstitutionName">Institution Name</label>
                         
                            </div>
        
                        </div>
      
                       
                       
                        <div class="col-md-6 mb-4">
        
                          <div class="form-outline" style="display:flex;flex-direction: column">
                            
                            <input type="text" name="HighestGrade" placeholder="{{education.HighestGrade}}"  class="form-control form-control-lg">
                            <label class="form-label" for="SchoolAddress">Highest Grade Passed</label>
                         
                        </div>
        
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4">
        
                            <div class="form-outline">
                              
                                <input type="text" name="EducationLevel" placeholder="{{education.EducationLevel}}"  class="form-control form-control-lg">
                                <label class="form-label" for="EducationLevel">Education Level</label>
                         
                            </div>
        
                        </div>
      
                       
                       
                        <div class="col-md-6 mb-4">
        
                          <div class="form-outline" style="display:flex;flex-direction: column">
                            
                            <input type="text" name="SchoolAddress" placeholder="{{education.SchoolAddress}}"  class="form-control form-control-lg">
                            <label class="form-label" for="SchoolAddress">School Address</label>
                         
                        </div>
        
                        </div>
                    </div>
    
    
    
                    
                    <div class="row">
                        <div class="col-md-6 mb-4">
        
                            <div class="form-outline">
                                
                                <input type="date" name="YearStarted" placeholder=""  class="form-control form-control-lg">
                                <label class="form-label" for="YearStarted">Start date: <b>{{education.YearStarted}}</b></label>
                         
                            </div>
        
                        </div>
      
                       
                       
                        <div class="col-md-6 mb-4">
        
                            <div class="form-outline" style="display:flex;flex-direction: column">
                          
                            
                                <input class="form-control form-control-lg" placeholder="" type="date" name="YearEnd" />
                                <label class="form-label" for="YearEnd">End date: <b>{{education.YearEnd}}</b></label>
                            
                         
                            </div>
        <!--<label>End date</label><input type="date" name="YearEnd"/>-->
                        </div>
                        <div class="container" style="display:flex;flex-direction: column; justify-content:center">
                          
                                <label style="color:green"  class="form-label" for="Completed"><b>Completed</b></label>

                          
                            
                            
                            <input style="border:solid 3px green"
                            {% if education.Completed%}
                                checked 
                                value="OldOn"
                            {% endif %}    
                            type="checkbox" name="Completed" class=""/>
                       
                        </div>
                    </div>
                    <br/>
                    <input class="btn btn-default btn-primary" style="width:100%" type="submit" value="Save information"/>
                   {% if place == "OnView" %}
                        <br/>
                        <br/>
                        <a href="{% url 'viewPerson' default="Education" AtheId=0 %}" class="btn btn-default btn-primary" style="width:100%; background-color:green" >
                            <b>Back</b>
                        </a>

                   {% endif  %}
                   {% if place == "OnCreate" %}
                   <br/>
                   <br/>
                        <a href="{% url 'AddEducation' personId=person.personId %}" class="btn btn-default btn-primary" style="width:100%; background-color:green">
                            <b>Back</b>
                        </a> 

                   {% endif  %}
                </form>
                
            </div>
            
        </div>
    </div>
</center>


{% endblock %}
